.block-bugets {
    padding-top: 154px;
    padding-bottom: 166px;
    background: #F6F8FA;


    #media-breakpoint-down(md, {
            padding-top: 135px;
            padding-bottom: 120px;
        }

    );



    &__container {
        #make-container();
        #make-container-max-widths();
    }

    &__title {
        font-size: 28px;
        color: #191919;
        font-weight: @font-weight-bolder;
        margin-bottom: 84px;
        text-align: center;

        #media-breakpoint-down(md, {
                margin-bottom: 84px - 50px;
            }

        );
    }

    &__slider {
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-left: -15px;
        margin-right: -15px;
        min-width: 360px;
    }

    &__row {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
    }

    &__col {
        width: 350px;
        flex: 0 0 350px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 10px;


        #media-breakpoint-up(sm, {
                margin-left: 20px;
            }

        )
    }

    #media-breakpoint-down(md, {
            padding-top: 122px;
            padding-bottom: 122px;

            &__title {
                margin-bottom: 6px;
                font-size: 26px;
            }
        }

    );
}