.block-need-music {
    padding: 138px 0;
    position: relative;
    overflow: hidden;

    &__icon {
        position: absolute;
        z-index: 1;

        &--tl {
            top: 45px;
            left: 173px;
        }

        &--tr {
            top: 74px;
            right: 124px;
        }
    }

    &__container {
        #make-container();
        #make-container-max-widths();
        position: relative;
        z-index: 2;
    }

    &__title {
        color: #191919;
        font-size: 34px;
        font-weight: @font-weight-bolder;
        text-align: center;
        margin-bottom: 17px;
    }

    &__sub {
        letter-spacing: 0px;
        color: #464646;
        text-align: center;
        font-size: 19px;
        font-weight: @font-weight-semibold;
        margin-bottom: 66px;

        span {
            color: @orange;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #media-breakpoint-down(md, {

            &__icon {


                &--tl {
                    left: 45px;
                }

                &--tr {
                    top: 22px;
                    right: 34px;
                }
            }
        }

    );

    #media-breakpoint-down(sm, {
            padding-top: 115px;
            padding-bottom: 122px;

            order: 3;

            &__title {
                font-size: 26px;
                margin-bottom: 18px;
            }

            &__sub {
                font-size: 19px;
                letter-spacing: 0;
                margin-bottom: 47px;
            }

            &__icon {


                &--tl {
                    left: -55px;
                    top: -18px;
                }

                &--tr {
                    top: -8px;
                    right: -64px;
                }
            }
        }

    )
}