.search-matching {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #media-breakpoint-down(md, {
        margin-top: 75px;
    });

    #media-breakpoint-down(sm, {
        margin-top: 60px;
    });

    &__row {
        #make-row();
        width: 100%;
    }

    &__col {
        #make-col-ready();

        #media-breakpoint-up(md, {
                #make-col(6);
            }

        );

        #media-breakpoint-up(lg, {
                #make-col(3);
            }

        );
    }

    &__btn {
        margin-top: 50px;
        max-width: 335px;
        width: 100%;
        padding: 15px;
        background: @primary;
        border: 1px solid #1E87F0;
        border-radius: 24px;
        font-size: 18px;
        line-height: 18px;
        color: @white;
        font-weight: @font-weight-bold;
        text-transform: uppercase;

        &:focus {
            outline: none;
        }

        #media-breakpoint-down(sm, {
            margin-top: 40px;
          })
    }

    &__item {
        margin-bottom: 20px;
    }

    &__select-main {
        padding: 12px 26px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        font-size: 20px;
        font-weight: @font-weight-semibold;
        letter-spacing: 0px;
        color: #0F64B9;
        margin-bottom: 13px;


        #media-breakpoint-down(sm, {
          padding-left: 26px;
        })
    }

    &__select {
        border: 1px solid #D5D5D5;
        border-radius: 24px;
        width: 100%;
        font-size: 16px;
        position: relative;

        &.is-active {
            display: block;
            .search-matching__select-options {
                display: block;
            }

            .search-matching__select-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__select-icon  {
        transition: 0.3s;
    }

    &__select-options {
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        right: 0;
        display: none;
        z-index: 555;
    }

    &__select-option {
        color: #202020;
        font-size: 16px;
        padding: 12px 26px;
        background: @white;
        border-bottom: 1px solid rgba(@black, 0.1);
        cursor: pointer;

        &:hover {
            background: #ececec;
        }
    }

    &__select-text {
        color: #202020;
    }

    
}